/* Overall template styling rules*/

body {
    background-color: #000081;
    text-align: center;
}

div {
    border-radius: 25px;
    background-color: white;
    margin: 1%;
    max-width: 3000px;
}

.header {
    width: 100%;
    max-height: 150px;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    text-align: center;
    background-color: red;
}

.page {
    width: 95%;
    margin: auto;
    height: auto;
    border: 1px solid black;
    padding: 0;
}

.siteTitle {
    width: 95%;
    height: auto;
    min-height: 10%;
    padding: 0;
    margin: auto;
    vertical-align: middle;
    border: 1px solid black;
}

.OE {
    width: 35%;
    background-color: transparent;
    padding: 0;
    margin: auto;
    height: auto;
    min-width: 100px;
    display: inline-block;
    vertical-align: top;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    background-color: white;
    border: 1px solid black;
    border-radius: 25px;
    width: 20%;
    min-width: 100px;
    margin: auto;
    max-width: 15%;
    display: inline-block;
    margin-left: 3%;
    margin-right: 3%;
}

.body {
    width: 1500px;
    max-width: 93%;
    margin: auto;
    border: 1px solid black;
    text-align: center;
}

/* Map page styling */

#map {
    height: 100%;

 }



/* Stations list styling */

a {
    font-size: 20px;
    height: 10px;
    padding: 10px;
    text-decoration: none;
    color: black;
    transition: .5s ease; /* https://www.w3schools.com/css/css3_transitions.asp */
}

a li {
    background-color: white;
    color: black;
    transition: .5s ease;
}

a:hover {
    color: darkblue;
    transition: .5s ease; /* https://www.w3schools.com/css/css3_transitions.asp */
}

a li:hover {
    color: white;
    background-color: black;
    transition: .5s ease; /* https://www.w3schools.com/css/css3_transitions.asp */
}


/********************************** Stations Styles ************************************/

tr, td {
    border: 1px solid black;
    border-radius: 25px;
    width: 1500px;
    max-width: 90%;
    margin: auto;
    padding: 1%;
    border: 1px solid black;
    text-align: center;
    background-color: #87baff;
}

.divider {
    background-color: transparent;
    border: none;
    color: transparent;
}

#myInput {
    width: 250px;
}
