/* Overall template styling rules*/

body {
    background-color: #000081;
    text-align: center;
}

div {
    border-radius: 25px;
    background-color: white;
    margin: 1%;
    max-width: 3000px;
}

.header {
    width: 100%;
    max-height: 1%;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    text-align: center;
}

.loading{
    height: 40%;
    width: auto;
    border-radius: 25px;
}

.title {
    max-width: 95%;
}
.page {
    width: 95%;
    margin: auto;
    height: auto;
    border: 1px solid black;
    padding: 0;
}

.siteTitle {
    width: 95%;
    height: auto;
    min-height: 10%;
    padding: 0;
    margin: auto;
    vertical-align: middle;
    border: 1px solid black;
}

.OE {
    width: 60%;
    background-color: transparent;
    padding: auto;
    margin: auto;
    height: auto;
    min-width: 100px;
    display: inline-block;
    vertical-align: top;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    background-color: white;
    border: 1px solid black;
    border-radius: 25px;
    width: 20%;
    min-width: 100px;
    margin: auto;
    max-width: 15%;
    display: inline-block;
}

.body {
    width: 93%;
    max-width: 1500px;
    margin: auto;
    border: 1px solid black;
    text-align: center;
}

.scroll {
    width: auto;
    height: auto;
    max-height: 62%;
    overflow-y: auto;
}

/* Map page styling */

#map {
    height: 100%;
    border-radius: 25px;
 }


/* Stations list styling */

a {
    font-size: 20px;
    height: 10px;
    padding: 10px;
    text-decoration: none;
    color: black;
    transition: .5s ease;
}

a li {
    background-color: white;
    color: black;
    transition: .5s ease;
}

a:hover {
    color: darkblue;
    transition: .5s ease; /* https://www.w3schools.com/css/css3_transitions.asp */
}

a li:hover {
    color: white;
    background-color: black;
    transition: .5s ease;
}


/********************************** Stations Styles ************************************/

tr, td {
    border: 1px solid black;
    border-radius: 25px;
    width: 1500px;
    max-width: 90%;
    margin: auto;
    padding: 1%;
    border: 1px solid black;
    text-align: center;
    background-color: #87baff;
}

table {
    border-collapse:separate;
    border-spacing:0 15px;
}

#myInput {
    width: 250px;
}

/********************************** Map Div Box Setting ************************************/
/*************************** VOLATILE: PLEASE DO NOT MESS WITH *****************************/

#map {
    background-color: transparent;
}

#map > div{
    all: unset;
}

#map > * div{
    all: unset;
}

/*******************************************************************************************/

#chart1 {
    height: auto;
    width: auto;
}

#chart2 {
    height: auto;
    width: auto;
}