<html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %} {% endblock %}</title>
        {% block meta %}
        <meta name="Description" content="Base.html">
        <meta name="Author" content="Eoin">
        {% endblock %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    </head>
    <body>
        <header>
            <div class="siteTitle"><h1>DCB</h1></div>
            <div></div>
            <div class="OE">
                <nav>
                <ul>
                    <a href="/home"><li>Home</li></a>
                    <a href="/test"><li>Map</li></a>
                    <a href="/stations"><li>Stations</li></a>
                    <li>About Us</li>
                </ul>
                </nav>
            </div>
            <div></div>
        
        <div class="page">
            {% block page %}
            {% endblock %}
        </div>

        <div></div>
        </header>
        <div class="body">
        {% block content %}
        {% endblock %}
        </div>


    </body>
</html>