<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Flask app</title>
  <meta name="description" content="First_index.html">
  <meta name="author" content="Matthew">

  <link href="{{ url_for('static',filename='style.css') }}" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>


</head>

<body>
<div if="header">header</div>
<div id="map"></div>


<!-- Async script executes immediately and must be after any DOM elements used in callback. -->
<script>
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5kFN1DUAWc6PZD3lFugxml81w6nAOw8M&callback=initMap&libraries=&v=weekly"async
></script>






</body>
</html>