{%extends 'base.html'%}

{% block title %}
Home Page
{% endblock %}

{% block meta %}
<meta name="Description" content="Index.html">
<meta name="Author" content="Eoin">
<script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}

{% block page %}
Home
{% endblock %}

{% block content %}
<!--These divs are used to display the availbe stations and weather widget side by side if the users screen allows, or one on top of the other otherwise-->
<div class='float_box'>
    <h2><u>Current Availability</u></h2>
    <div id="stands"><img class="loading" style="width: 50%; height: auto;" src="{{ url_for('static', filename='loading.gif')}}"/></div>
</div>
<div class='float_box'>
    <h2><u>Weather Widget</u></h2>
    <div id="weather"><img class="loading" style="width: 50%; height: auto;" src="{{ url_for('static', filename='loading.gif')}}"/></div>
</div>
{% endblock %}