{%extends 'base.html'%}

{% block title %}
Home Page
{% endblock %}

{% block meta %}
<meta name="Description" content="Index.html">
<meta name="Author" content="Eoin">
<script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}

{% block page %}
Home
{% endblock %}

{% block content %}
    <div class='float_box'>
        <h2><u>Current Availability</u></h2>
<div id="stands"><img class="loading" src="{{ url_for('static', filename='loading.gif')}}"/></div>
    </div><div class='float_box'>
        <h2><u>Weather Widget</u></h2>
<div id="weather"><img class="loading" src="{{ url_for('static', filename='loading.gif')}}"/></div>
</div>
{% endblock %}