{%extends 'base.html'%}

{% block title %}
Map Page
{% endblock %}

{% block meta %}
<meta name="Description" content="Map.html">
<meta name="Author" content="Matthew">
<script src="{{url_for('static', filename='map.js')}}"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}

{% block page %}
Stations Map
{% endblock %}

{% block map %}

<div id="map"><img class="loading" src="{{ url_for('static', filename='loading.gif')}}"/></div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5kFN1DUAWc6PZD3lFugxml81w6nAOw8M&callback=initCharts&libraries=&v=weekly" async></script>
<div id="predictions">
    <h3>Bike Availability Predictor</h3>
    <div id="stationSelector"></div>
    <div id="dateSelector"></div>
    <div id="timeSelector"></div>
    <div id="submitButton"><button type="button" onclick="clickSubmit()">Submit</button></div>
    <div id="prediction">Prediction</div>
</div>
{% endblock %}

{% block content %}


<div id="chart1"></div>
<div id="chart2"></div>

{% endblock %}