{%extends 'base.html'%}

{% block title %}
Map Page
{% endblock %}

{% block meta %}
<meta name="Description" content="Map.html">
<meta name="Author" content="Matthew">
<script src="{{url_for('static', filename='map.js')}}"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}

{% block page %}
Stations Map
{% endblock %}

{% block map %}

<br>

<button id='router' onclick="displayDirectionsDiv();getLocation();"><h3>Plan Your Route</h3></button>

<div id="directionsSelection" style="opacity: 0;">

    <div class="origin-select">
    <select id="originDropDown">
        <option selected disabled>Select Your Origin</option>
    </select>
    </div>

    <br>

    <div class="destination-select">
    <select id="destinationDropDown">
        <option selected disabled>Select Your Destination</option>
    </select>
    </div>

    <div id="currentLocation"></div>

</div>

<button id="predictions" onclick="displayPredictionsDiv();">
    <h3>Bike Availability Predictor</h3>

    {% autoescape false %}
    {{data}}
    {% endautoescape %}

    
   
</button>

<div id="predictionSelection" style="opacity: 0;">
<div id="predictor"><img class="loading" style="height: 100px; width: auto;" src="{{ url_for('static', filename='loading.gif')}}"/></div>
</div>

<br>

<div id="map"><img class="loading" src="{{ url_for('static', filename='loading.gif')}}"/></div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5kFN1DUAWc6PZD3lFugxml81w6nAOw8M&callback=initCharts&libraries=&v=weekly" async></script>



{% endblock %}

{% block content %}


<div id="chart1"></div>
<div id="chart2"></div>

{% endblock %}