<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Flask app</title>
  <meta name="description" content="First_index.html">
  <meta name="author" content="Matthew">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='map_style.css') }}">
  <script src="{{url_for('static', filename='map.js')}}"></script>



</head>

<body>
<div id="header">header</div>
<div id="map" ></div>
<div id="chart">chart</div>

<script>


</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSce0XuMrIUYHvlQMZDOt0uv7Us9EZ3O0&callback=initMap&libraries=&v=weekly"
        async></script>

</body>

</html>