{%extends 'base.html'%}

{% block title %}
Stations List
{% endblock %}

{% block meta %}
  <meta name="Description" content="Stations.html">
  <meta name="Author" content="Sonia">
  <script type="text/javascript" src="{{ url_for('static', filename='stationsList.js') }}"></script>
{% endblock %}

{% block page %}
Stations List
{% endblock %}

{% block content %}
<input type="text" id="myInput" onkeyup="searchFunction()" placeholder="Search for station name or street">
<div id="list"></div>
{% endblock %}